
body { 
    /* The image used */
    background-image: url("../img/productbg.jpg");
  
    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: n
    
    
    
    o-repeat;
    background-size: cover;
  }