body, html {
    height: 100%;
  }
  
  body { 
    /* The image used */
    background-image: url("img/productbg.jpg");
  
    /* Full height */
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: n
    
    
    
    o-repeat;
    background-size: cover;
  }